.route_container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}
.route {
    padding: 0.25rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 13px;
}
.route.administrator {
    background: rgb(var(--theme-primary), 0.2);
    color: rgb(var(--theme-primary));
}
.route.users {
    background-color: rgb(var(--theme-success), 0.2);
    color: rgb(var(--theme-success));
}
.route.archived {
    background-color: #eaebed;
    color: rgb(128, 131, 144);
}
.route.manager {
    background-color: rgb(var(--theme-orange), 0.2);
    color: rgb(var(--theme-orange));
}
.route.restricted_user {
    background-color: rgb(var(--theme-error), 0.2);
    color: rgb(var(--theme-error));
}
.route.support {
    background-color: rgb(var(--theme-info), 0.2);
    color: rgb(var(--theme-info));
}
