.assign_to_container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}
.assign_to {
}
.get {
    color: rgb(var(--theme-primary));
}
.post {
    color: rgb(var(--theme-success));
}
.assign_to.archived {
    background-color: #eaebed;
    color: rgb(128, 131, 144);
}
.put {
    color: rgb(var(--theme-orange));
}
.delete {
    color: rgb(var(--theme-error));
}
.patch {
    background-color: rgb(var(--theme-info), 0.2);
    color: rgb(var(--theme-info));
}
.public,
.private,
.platform,
.client {
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 13px;
}
.platform {
    background-color: rgb(var(--theme-primary), 0.2);
    text-transform: capitalize;
    color: rgb(var(--theme-primary));
}
.client {
    background-color: rgb(var(--theme-success), 0.2);
    color: rgb(var(--theme-success));
    text-transform: capitalize;
}
.public {
    border: 1px solid rgb(var(--theme-success));
    color: rgb(var(--theme-success));
}
.public::before,
.private::before {
    content: "•";
    margin-right: 0.3rem;
    vertical-align: middle;
    color: inherit;
    font-size: 1.3rem;
}

.private {
    border: 1px solid rgb(var(--theme-primary));
    color: rgb(var(--theme-primary));
    text-transform: capitalize;
}
